body {
  background: #20144c;
  color: #e7e5fc;
  fill: #c6c0e9;
}

a {
  color: #85acf4;
}

h1 {
  font-size: 1.5em;
}

p {
  margin-bottom: 0.5em;
}

/* TODO consider more deeply techniques like in https://webaim.org/techniques/css/invisiblecontent/ */
.visuallyhidden {
  display: none;
}
