# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

########

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
*.pem
SCRATCH.md
.tmp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local

########

# Relevant for apps

## Relevant for vitepress
/apps/vitepress-docs/docs/.vitepress/cache
/apps/vitepress-docs/docs/.vitepress/dist

## Relevant for typescript mostly nextjs related
/apps/**/*.tsbuildinfo
/apps/**/next-env.d.ts

## was next.js app dir workaround, also astro now
/apps/**/.vscode/

## Relevant for next.js
/apps/**/.next/

## Relevant for astro
/apps/**/.astro/

## Relevant for astro and vite
/apps/**/dist/

# Relevant for shared

## Relevant for icons
/shared/icons/dist/

########

# Relevant for misc

## Relevant for mise plugin that auto creates settings.json
/.vscode/
