<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <main>
      <h1>Home</h1>
      <p>Welcome...</p>
      <p>
        If it is cold (or hot) outside check out the{' '}
        <a href="/weather">Weather Forecast</a>.
      </p>
      <p>
        Wastewater can be a leading indicator for Covid{' '}
        <a href="/covid">Wastewater Covid</a>.
      </p>
      <p>
        Or veg out with some <a href="/youtube">Youtube Videos</a>.
      </p>
    </main>
  </body>
</html>
