---
import { Navbar } from 'shared-ui'
import { navItems } from '../shared/mainNav'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Navbar current="/" items={navItems}>
      <main>
        <h3>Welcome...</h3>
        <p>
          If it is cold (or hot) outside check out the{' '}
          <a href="/weather">Weather Forecast</a>.
        </p>
        <p>
          Land uplift precursor to <a href="/iceland">Iceland Eruptions</a>.
        </p>
        <p>
          Wastewater can be a leading indicator for Covid{' '}
          <a href="/covid">Wastewater Covid</a>.
        </p>
        <p>
          Or check some past <a href="/biking">Bike Rides</a>.
        </p>
        <p>
          Or check some stats <a href="/lifting">Lifting Weights</a>.
        </p>
        <p>
          Or check some past <a href="/expenses">Expenses</a>.
        </p>
        <p>
          Or veg out with some <a href="/youtube">Youtube Videos</a>.
        </p>
      </main>
    </Navbar>
    <style>
      p {
        line-height: 1.08;
      }
      h3 {
        margin-bottom: 4px;
      }
    </style>
  </body>
</html>
