# Relevant for all apps but not relevant at the top level or for packages

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js app dir workarounds
.vscode
# see https://github.com/vercel/next.js/issues/41808

# next.js
.next/
out/
build
